# WK1 pandas Basics<hr style="border:2.5px solid #000000"></hr>

Name: **Robb Ryan P. Calvez** <br>
Course: **CPE2A**

pandas - derived from **Panel Data**

Import **pandas** and **numpy** library

In [2]:
import pandas as pd
import numpy as np

Check the **version** of pandas

In [3]:
pd.__version__

'2.2.3'

# Creating Series Object

## List to Series

Create a **list** named **employee_names**

In [4]:
employee_names = ['Ammy White', 'Jack Stewart', 'Richard Lauderdale', 'Sarah Johnson']
employee_names

['Ammy White', 'Jack Stewart', 'Richard Lauderdale', 'Sarah Johnson']

Verify that the data type of *employee_names* object is a **list**

In [5]:
type(employee_names)

list

Create **pandas Series object** named **employee_names_Series** containing the elements from the *employee_names* list

In [6]:
employee_names_Series = pd.Series(employee_names)
employee_names_Series

0            Ammy White
1          Jack Stewart
2    Richard Lauderdale
3         Sarah Johnson
dtype: object

Verify that the data type of *employee_names_Series* object  is a **pandas Series**

In [7]:
type(employee_names_Series)

pandas.core.series.Series

Create a Series object named **work_experience_years** directly using the structure **pd.Series([...])** containing the elements: 5, 8, 3, and 10

In [8]:
work_experience_years = pd.Series([5, 8, 3, 10])
work_experience_years

0     5
1     8
2     3
3    10
dtype: int64

## Array to Series

Create a **NumPy Array** object named **array_age**

In [9]:
array_age = np.array([50, 53, 35, 43])
array_age

array([50, 53, 35, 43])

Verify that the data type of *array_age* object is a **NumPy Array**

In [10]:
type(array_age)

numpy.ndarray

Create a **pandas Series** object named **series_age** from *array_age*

In [11]:
series_age = pd.Series(array_age)
series_age

0    50
1    53
2    35
3    43
dtype: int64

Verify that the data type of *series_age* object is **Series**

In [12]:
type(series_age)

pandas.core.series.Series

Use the **print()** function to display the content of *series_age*

In [13]:
print(series_age)

0    50
1    53
2    35
3    43
dtype: int64

## pandas Attributes

Create a **Pandas Series** object named **work_experience_years** containing the elements: 5, 8, 3, and 10

In [14]:
work_experience_years = pd.Series([5, 8, 3, 10])
work_experience_years

0     5
1     8
2     3
3    10
dtype: int64

Assign letters *a, b, c, d* as **index** of the *Series*

In [16]:
work_experience_years = pd.Series([5, 8, 3, 10], index=['a', 'b', 'c', 'd'])
work_experience_years

a     5
b     8
c     3
d    10
dtype: int64

Check the total number of elements of the *Series*

In [18]:
work_experience_years.size

4

Verify that the data stored in the **Series** is an **Array**

In [23]:
work_experience_years.values

array([ 5,  8,  3, 10])

Check the data type of the **elements** stored in the **Series**

In [22]:
work_experience_years.dtype

dtype('int64')

Assign **Work Experience (Yrs.)** as a **name** of the *Series*

In [24]:
work_experience_years.name = "Work Experience (Yrs.)"

Display the **name** of *Series*

In [25]:
work_experience_years

a     5
b     8
c     3
d    10
Name: Work Experience (Yrs.), dtype: int64

## Creating a Series Object from a Dictionary

Create a a **dictionary** names **workers_age**
with *names* of the employees as *keys* and *age* as *values*

In [26]:
workers_age = {'Amy White':50, 
               'Jack Stewart':53,
               'Richard Lauderdale':35,
               'Sara Johnson':43}
workers_age

{'Amy White': 50,
 'Jack Stewart': 53,
 'Richard Lauderdale': 35,
 'Sara Johnson': 43}

Verify that the data type of *workers_age* object is a **dictionary**

In [27]:
type(workers_age)

dict

Create a **pandas Series** from *workers_age* giving it the same name - **workers_age**

In [28]:
workers_age = pd.Series(workers_age)
workers_age

Amy White             50
Jack Stewart          53
Richard Lauderdale    35
Sara Johnson          43
dtype: int64

Verify that the data type of *workers_age* object is a **pandas Series**

In [29]:
type(workers_age)

pandas.core.series.Series

Retrieve the **index** of *workers_age*

In [30]:
workers_age.index

Index(['Amy White', 'Jack Stewart', 'Richard Lauderdale', 'Sara Johnson'], dtype='object')

## pandas Methods

Create a **pandas Series** named **employees_work_exp** from a *dictionary* with *names* of the employees as *keys* and *work_experience* as *values*

In [37]:
employees_work_exp = pd.Series({
    'Amy White': 3,
    'Jack Stewart': 5,
    'Richard Laderdale': 4.5,
    'Sara Johnson': 22,
    'Patrick Adams': 28,
    'Jessica Baker': 14,
    'Peter Hunt': 4,
    'Daniel Lloyd': 6,
    'John Owen': 1.5,
    'Jennifer Phillips': 10,
    'Courtney Rogers': 4.5,
    'Anne Robinson': 2,
    })

Extract the **top five** values from this Series

In [38]:
employees_work_exp.head()

Amy White             3.0
Jack Stewart          5.0
Richard Laderdale     4.5
Sara Johnson         22.0
Patrick Adams        28.0
dtype: float64

Extract the **last five** rows of the object

In [39]:
employees_work_exp.tail()

Daniel Lloyd          6.0
John Owen             1.5
Jennifer Phillips    10.0
Courtney Rogers       4.5
Anne Robinson         2.0
dtype: float64

Retrieve the **first three** records of the object

In [ ]:
employees_work_exp.head(3)

Retrieve the **last four** records of the object

In [40]:
employees_work_exp.tail(4)

John Owen             1.5
Jennifer Phillips    10.0
Courtney Rogers       4.5
Anne Robinson         2.0
dtype: float64

Sort the *Series* by work experience in **ascending** order

In [41]:
employees_work_exp.sort_values()

John Owen             1.5
Anne Robinson         2.0
Amy White             3.0
Peter Hunt            4.0
Richard Laderdale     4.5
Courtney Rogers       4.5
Jack Stewart          5.0
Daniel Lloyd          6.0
Jennifer Phillips    10.0
Jessica Baker        14.0
Sara Johnson         22.0
Patrick Adams        28.0
dtype: float64

Sort the *Series* by work experience in **descending** order

In [ ]:
employees_work_exp.sort_values(ascending=False)