# WK1 pandas Basics<hr style="border:2.5px solid #000000"></hr>

Name: **Robb Ryan P. Calvez** <br>
Course: **CPE2A**

pandas - derived from **Panel Data**

Import **pandas** and **numpy** library

In [4]:
import pandas as pd
import numpy as np

Check the **version** of pandas

In [ ]:
pd.__version__

'2.2.3'

# Creating Series Object

## List to Series

Create a **list** named **employee_names**

In [3]:
employee_names = ['Ammy White', 'Jack Stewart', 'Richard Lauderdale', 'Sarah Johnson']
employee_names

['Ammy White', 'Jack Stewart', 'Richard Lauderdale', 'Sarah Johnson']

Verify that the data type of *employee_names* object is a **list**

In [ ]:
type(employee_names)

Requirement already satisfied: numpy in c:\users\dell inspiron\appdata\local\programs\python\python313\lib\site-packages (2.1.3)
Note: you may need to restart the kernel to use updated packages.

Create **pandas Series object** named **employee_names_Series** containing the elements from the *employee_names* list

In [7]:
employee_names_Series = pd.Series(employee_names)
employee_names_Series

0            Ammy White
1          Jack Stewart
2    Richard Lauderdale
3         Sarah Johnson
dtype: object

Verify that the data type of *employee_names_Series* object  is a **pandas Series**

In [8]:
type(employee_names_Series)

pandas.core.series.Series

Create a Series object named **work_experience_years** directly using the structure **pd.Series([...])** containing the elements: 5, 8, 3, and 10

In [9]:
work_experience_years = pd.Series([5, 8, 3, 10])
work_experience_years

0     5
1     8
2     3
3    10
dtype: int64

## Array to Series

Create a **NumPy Array** object named **array_age**

In [10]:
array_age = np.array([50, 53, 35, 43])
array_age

array([50, 53, 35, 43])

type(array_age)

In [11]:
type(array_age)

numpy.ndarray

## Panda Attributes

Create a **pandas Series** object named **series_age** from *array_age*

In [12]:
series_age = pd.Series(array_age)
series_age

0    50
1    53
2    35
3    43
dtype: int64

Verify that the data type of *series_age* object is **Series**

In [14]:
type(series_age)

pandas.core.series.Series

Use the **print()** function to display the content of *series_age*

In [15]:
print(series_age)

0    50
1    53
2    35
3    43
dtype: int64