# WK6 Data Cleaning <p style="border:6px solid #ffd700"></p>

Name: <b>Robb Ryan P. Calvez</b><br>
Course: <b>CPE2A</b>

Import <b>pandas</b>, <b>numpy</b> and <b>matplotlib</b> library

In [206]:
import pandas as pd;
import numpy as np;
import matplotlib as mpl;

## Overview of the Dataset

<p>Load the <b>"chip-dataset.csv"</b> <br>
<b>r</b> - Stands for <i>raw string</i>. <br>
It tells the Python to treat the string literally (backslashes ( <b>\</b> ) are not interpreted as escape characters).</p>

In [207]:
df = pd.read_csv(r"..\.raw\chip-dataset.csv", delimiter=",")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4854 entries, 0 to 4853
Data columns (total 14 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             4854 non-null   int64
 1   Product                4854 non-null   object
 2   Type                   4854 non-null   object
 3   Release Date           4854 non-null   object
 4   Process Size (nm)      4845 non-null   float64
 5   TDP (W)                4228 non-null   float64
 6   Die Size (mm^2)        4139 non-null   float64
 7   Transistors (million)  4143 non-null   float64
 8   Freq (MHz)             4854 non-null   int64
 9   Foundry                4854 non-null   object
 10  Vendor                 4854 non-null   object
 11  FP16 GFLOPS            536 non-null    float64
 12  FP32 GFLOPS            1948 non-null   float64
 13  FP64 GFLOPS            1306 non-null   float64
dtypes: float64(7), int64(2), object(5)
memory usage: 531.0+ KB

Display an <b>overview</b> of the dataset

In [208]:
df.head()

,Unnamed: 0,Product,Type,Release Date,Process Size (nm),TDP (W),Die Size (mm^2),Transistors (million),Freq (MHz),Foundry,Vendor,FP16 GFLOPS,FP32 GFLOPS,FP64 GFLOPS
0,0,AMD Athlon 64 3500+,CPU,2/20/2007,65.0,45.0,77.0,122.0,2200,Unknown,AMD,NaN,NaN,NaN
1,1,AMD Athlon 200GE,CPU,9/6/2018,14.0,35.0,192.0,4800.0,3200,Unknown,AMD,NaN,NaN,NaN
2,2,Intel Core i5-1145G7,CPU,9/2/2020,10.0,28.0,NaN,NaN,2600,Intel,Intel,NaN,NaN,NaN
3,3,Intel Xeon E5-2603 v2,CPU,9/1/2013,22.0,80.0,160.0,1400.0,1800,Intel,Intel,NaN,NaN,NaN
4,4,AMD Phenom II X4 980 BE,CPU,5/3/2011,45.0,125.0,258.0,758.0,3700,Unknown,AMD,NaN,NaN,NaN

<b>Drop</b> the first column

In [209]:
df = df.drop(df.columns[0], axis=1) # 1 for row, 0 for column
df.head()

,Product,Type,Release Date,Process Size (nm),TDP (W),Die Size (mm^2),Transistors (million),Freq (MHz),Foundry,Vendor,FP16 GFLOPS,FP32 GFLOPS,FP64 GFLOPS
0,AMD Athlon 64 3500+,CPU,2/20/2007,65.0,45.0,77.0,122.0,2200,Unknown,AMD,NaN,NaN,NaN
1,AMD Athlon 200GE,CPU,9/6/2018,14.0,35.0,192.0,4800.0,3200,Unknown,AMD,NaN,NaN,NaN
2,Intel Core i5-1145G7,CPU,9/2/2020,10.0,28.0,NaN,NaN,2600,Intel,Intel,NaN,NaN,NaN
3,Intel Xeon E5-2603 v2,CPU,9/1/2013,22.0,80.0,160.0,1400.0,1800,Intel,Intel,NaN,NaN,NaN
4,AMD Phenom II X4 980 BE,CPU,5/3/2011,45.0,125.0,258.0,758.0,3700,Unknown,AMD,NaN,NaN,NaN

<b>Rename</b> columns

In [210]:
df_w = df.rename(columns= {
    'Release Date': 'Date',
    'Process Size (nm)' : 'Process_Size',
    'TDP (W)':'TDP',
    'Die Size (mm^2)':'Die_Size',
    'Transistors (million)':'Transistors',
    'Freq (MHz)':'Frequency',
    'FP16 GFLOPS':'FP16',
    'FP32 GFLOPS':'FP32',
    'FP64 GFLOPS':'FP64'
})
df_w.info()
df_m = df_w.copy()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4854 entries, 0 to 4853
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Product       4854 non-null   object
 1   Type          4854 non-null   object
 2   Date          4854 non-null   object
 3   Process_Size  4845 non-null   float64
 4   TDP           4228 non-null   float64
 5   Die_Size      4139 non-null   float64
 6   Transistors   4143 non-null   float64
 7   Frequency     4854 non-null   int64
 8   Foundry       4854 non-null   object
 9   Vendor        4854 non-null   object
 10  FP16          536 non-null    float64
 11  FP32          1948 non-null   float64
 12  FP64          1306 non-null   float64
dtypes: float64(7), int64(1), object(5)
memory usage: 493.1+ KB

## Determining <b>Distinct</b> values

In [156]:
df_w['Product'].unique()

array(['AMD Athlon 64 3500+', 'AMD Athlon 200GE', 'Intel Core i5-1145G7',
       ..., 'NVIDIA GeForce FX Go5100', 'NVIDIA Quadro 3000M',
       'NVIDIA GeForce 9300 SE'], dtype=object)

In [157]:
df_w['Product'].nunique()

4278

In [158]:
df_w['Type'].unique()

array(['CPU', 'GPU'], dtype=object)

In [159]:
df_w['Type'].nunique()

2

In [164]:
df_w['Foundry'].unique()

array(['Unknown', 'Intel', 'GF', 'TSMC', 'UMC', 'Samsung', 'Renesas',
       'Sony', 'NEC', 'IBM'], dtype=object)

In [165]:
df_w['Foundry'].nunique()

10

In [160]:
df_w['Vendor'].unique()

array(['AMD', 'Intel', 'Other', 'NVIDIA', 'ATI'], dtype=object)

In [161]:
df_w['Vendor'].nunique()

5

## Data Cleaning - Dropping NaN

Determine the <b>count of NaN</b> <i>(Not a Number)</i> values

In [166]:
df_w.isna().sum()

Product            0
Type               0
Date               0
Process_Size       9
TDP              626
Die_Size         715
Transistors      711
Frequency          0
Foundry            0
Vendor             0
FP16            4318
FP32            2906
FP64            3548
dtype: int64

In [167]:
# Cleaning Process Size
df_w = df_w.dropna(subset=['Process_Size'])
df_w.isna().sum()

Product            0
Type               0
Date               0
Process_Size       0
TDP              623
Die_Size         715
Transistors      708
Frequency          0
Foundry            0
Vendor             0
FP16            4309
FP32            2901
FP64            3541
dtype: int64

In [168]:
# Cleaning TDP
df_w = df_w.dropna(subset=['TDP'])
df_w.isna().sum()

Product            0
Type               0
Date               0
Process_Size       0
TDP                0
Die_Size         660
Transistors      668
Frequency          0
Foundry            0
Vendor             0
FP16            3717
FP32            2481
FP64            3047
dtype: int64

In [169]:
# Cleaning Die Size
df_w = df_w.dropna(subset=['Die_Size'])
df_w.isna().sum()

Product            0
Type               0
Date               0
Process_Size       0
TDP                0
Die_Size           0
Transistors      140
Frequency          0
Foundry            0
Vendor             0
FP16            3113
FP32            1930
FP64            2489
dtype: int64

In [170]:
# Cleaning Transistors
df_w = df_w.dropna(subset=['Transistors'])
df_w.isna().sum()

Product            0
Type               0
Date               0
Process_Size       0
TDP                0
Die_Size           0
Transistors        0
Frequency          0
Foundry            0
Vendor             0
FP16            2992
FP32            1812
FP64            2369
dtype: int64

In [171]:
df_w.isna().sum()

Product            0
Type               0
Date               0
Process_Size       0
TDP                0
Die_Size           0
Transistors        0
Frequency          0
Foundry            0
Vendor             0
FP16            2992
FP32            1812
FP64            2369
dtype: int64

## Data Cleaning - Replacing NaN with Mean

Make a copy of <b>df_w</b>

In [211]:
df_m.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4854 entries, 0 to 4853
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Product       4854 non-null   object
 1   Type          4854 non-null   object
 2   Date          4854 non-null   object
 3   Process_Size  4845 non-null   float64
 4   TDP           4228 non-null   float64
 5   Die_Size      4139 non-null   float64
 6   Transistors   4143 non-null   float64
 7   Frequency     4854 non-null   int64
 8   Foundry       4854 non-null   object
 9   Vendor        4854 non-null   object
 10  FP16          536 non-null    float64
 11  FP32          1948 non-null   float64
 12  FP64          1306 non-null   float64
dtypes: float64(7), int64(1), object(5)
memory usage: 493.1+ KB

In [212]:
# Cleaning Proccess_Size with mean
procSize_mean = df_w['Process_Size'].mean()
print(procSize_mean)
df_m['Process_Size'] = df_m['Process_Size'].fillna(procSize_mean)

55.10959752321981

In [213]:
# Cleaning TDP with mean
tdp_mean = df_w['TDP'].mean()
print(tdp_mean)
df_m['TDP'] = df_m['TDP'].fillna(tdp_mean)

81.35998107852413

In [214]:
# Cleaning Die_Size with mean
dieSize_mean = df_w['Die_Size'].mean()
print(dieSize_mean)
df_m['Die_Size'] = df_m['Die_Size'].fillna(dieSize_mean)

188.4404445518241

In [215]:
# Cleaning Transistors with mean
transistor_mean = df_w['Transistors'].mean()
print(transistor_mean)
df_m['Transistors'] = df_m['Transistors'].fillna(transistor_mean)

1929.9222785421193

In [216]:
df_m.isna().sum()

Product            0
Type               0
Date               0
Process_Size       0
TDP                0
Die_Size           0
Transistors        0
Frequency          0
Foundry            0
Vendor             0
FP16            4318
FP32            2906
FP64            3548
dtype: int64

In [217]:
df_m.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4854 entries, 0 to 4853
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Product       4854 non-null   object
 1   Type          4854 non-null   object
 2   Date          4854 non-null   object
 3   Process_Size  4854 non-null   float64
 4   TDP           4854 non-null   float64
 5   Die_Size      4854 non-null   float64
 6   Transistors   4854 non-null   float64
 7   Frequency     4854 non-null   int64
 8   Foundry       4854 non-null   object
 9   Vendor        4854 non-null   object
 10  FP16          536 non-null    float64
 11  FP32          1948 non-null   float64
 12  FP64          1306 non-null   float64
dtypes: float64(7), int64(1), object(5)
memory usage: 493.1+ KB

In [199]:
df_m.describe()

,Process_Size,TDP,Die_Size,Transistors,Frequency,FP16,FP32,FP64
count,4845.000000,4228.000000,4139.000000,4143.000000,4854.000000,536.000000,1948.000000,1306.000000
mean,55.109598,81.359981,188.440445,1929.922279,1484.406057,8397.459851,2134.756653,363.670511
std,44.998676,76.807808,126.189383,4044.891098,1066.701523,13799.551131,3898.431487,1145.931856
min,0.000000,1.000000,1.000000,8.000000,100.000000,10.020000,12.800000,3.600000
25%,22.000000,33.000000,104.000000,154.000000,590.000000,768.800000,257.300000,38.295000
50%,40.000000,65.000000,148.000000,624.000000,1073.500000,2965.500000,696.000000,89.280000
75%,90.000000,100.000000,239.000000,1550.000000,2400.000000,10600.000000,2116.750000,220.000000
max,250.000000,900.000000,826.000000,54200.000000,4700.000000,184600.000000,40000.000000,11540.000000

## Lambda Function

A <b>lambda function</b> in Python is a small, anonymous function defined using the <b>lambda</b> keyword. It is also known as an inline function or anonymous function because it doesn't require a formal name (unlike functions defined with def). Lambda functions are typically used for short, simple operations that can be written in a single line.

Syntax:
<b>lambda</b> arguments: expression

In [130]:
numbers = [1,2,3,4,5,6,7,8,9,10]

def even(n):
    e = []
    for i in n:
        if i%2==0:
            e.append(i)
    return e

even(numbers)

[2, 4, 6, 8, 10]

In [182]:
even = filter(lambda n : n%2==0 , numbers)
list(even)

[2, 4, 6, 8, 10]

Use <b>lambda</b> function to replace NaN values with mean of each column

In [193]:
df_l = df_w.copy()
df_l.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4854 entries, 0 to 4853
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Product       4854 non-null   object
 1   Type          4854 non-null   object
 2   Date          4854 non-null   object
 3   Process_Size  4845 non-null   float64
 4   TDP           4228 non-null   float64
 5   Die_Size      4139 non-null   float64
 6   Transistors   4143 non-null   float64
 7   Frequency     4854 non-null   int64
 8   Foundry       4854 non-null   object
 9   Vendor        4854 non-null   object
 10  FP16          536 non-null    float64
 11  FP32          1948 non-null   float64
 12  FP64          1306 non-null   float64
dtypes: float64(7), int64(1), object(5)
memory usage: 493.1+ KB

In [194]:
df_l.isna().sum()

Product            0
Type               0
Date               0
Process_Size       9
TDP              626
Die_Size         715
Transistors      711
Frequency          0
Foundry            0
Vendor             0
FP16            4318
FP32            2906
FP64            3548
dtype: int64

In [195]:
n_columns = ['Process_Size', 'TDP', 'Die_Size', 'Transistors']
df_l[n_columns] = df_l[n_columns].apply(lambda n:n.fillna(n.mean()))
df_l.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4854 entries, 0 to 4853
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Product       4854 non-null   object
 1   Type          4854 non-null   object
 2   Date          4854 non-null   object
 3   Process_Size  4854 non-null   float64
 4   TDP           4854 non-null   float64
 5   Die_Size      4854 non-null   float64
 6   Transistors   4854 non-null   float64
 7   Frequency     4854 non-null   int64
 8   Foundry       4854 non-null   object
 9   Vendor        4854 non-null   object
 10  FP16          536 non-null    float64
 11  FP32          1948 non-null   float64
 12  FP64          1306 non-null   float64
dtypes: float64(7), int64(1), object(5)
memory usage: 493.1+ KB

In [196]:
df_l.isna().sum()

Product            0
Type               0
Date               0
Process_Size       0
TDP                0
Die_Size           0
Transistors        0
Frequency          0
Foundry            0
Vendor             0
FP16            4318
FP32            2906
FP64            3548
dtype: int64

In [197]:
df_l.describe()

,Process_Size,TDP,Die_Size,Transistors,Frequency,FP16,FP32,FP64
count,4854.000000,4854.000000,4854.000000,4854.000000,4854.000000,536.000000,1948.000000,1306.000000
mean,55.109598,81.359981,188.440445,1929.922279,1484.406057,8397.459851,2134.756653,363.670511
std,44.956931,71.683029,116.523337,3736.859205,1066.701523,13799.551131,3898.431487,1145.931856
min,0.000000,1.000000,1.000000,8.000000,100.000000,10.020000,12.800000,3.600000
25%,22.000000,35.000000,112.000000,180.000000,590.000000,768.800000,257.300000,38.295000
50%,40.000000,67.000000,177.000000,950.000000,1073.500000,2965.500000,696.000000,89.280000
75%,90.000000,95.000000,221.000000,1929.922279,2400.000000,10600.000000,2116.750000,220.000000
max,250.000000,900.000000,826.000000,54200.000000,4700.000000,184600.000000,40000.000000,11540.000000

## <b>Saving</b> the Cleaned Dataset

In [198]:
df_l.to_csv(r"..\.raw\chip-dataset-cleaned.csv", index=False)